html {
	background: #3f3f3f;
	box-shadow: none;
	text-shadow: none;
}

body {
	height: 100vh;
	color: white;
	width: 100%;
	font-family: "Lato",sans-serif;
	display: block;
	margin: 0 auto;
	max-width: 1400px;
	max-height: 665px;
}

/* ---- left ---- */
.section-left {
	width: 20%;
	max-width: 280px;
	height: 100%;
	display: inline-block;
	float: left;
	margin: 3.5em -2.5em 2em 0;
	position: fixed;


}

.section-left a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: .75em;
	text-align: center;
}



.logo {
	width: 40%;
	opacity: .9;
	display: inline-block;
	margin: 0 auto 1em auto;
	z-index: 999;

}

.title {
	width: 100%;
	text-align: center;
	display: block;
}


.title h3 {
	font-family: Papyrus;
	font-weight: 400;
	margin: 0;
	font-size: 1.25em;
	font-weight: 600;
	letter-spacing: 1px;
}

.title h4 {
	font-weight: 300;
	margin: 0 0 2em 0;
	font-size: .75em;
	text-transform: uppercase;
}

.title h5 {
	font-size: .75em;
	text-transform: uppercase;
	font-weight: 300;
	margin: 0;
}

.booksession a{
  	color: #fff;
  	border: 1px solid #fff;
  	text-align: center;
  	width: 70%;
  	margin: 75% auto 0 auto;
  	display: block;
  	padding: 1em 0;
}


.booksession a:hover {
	background: #fff;
  	color: #222;
  	border: 1px solid #fff;
  	text-align: center;
  	width: 70%;
  	margin: 75% auto 0 auto;
  	display: block;
  	padding: 1em 0;
}


/*.booksession {
	width: 80%;
	display: block;
	background: #2b2b2b;
	padding: 1.5em 0;
	margin: 75% auto 5em auto;
	position: relative;
	z-index: -99;
	text-align: center;
}*/

/* ---- right ---- */


/* ---- NAVIGATION ---- */

ul {
	list-style: none;
	padding-left: 0;
}

li a {
	font-weight: 300;
	font-size: .75em;
	text-decoration: none;
	text-transform: uppercase;
	color: #f1f1f2;
}

li a:hover {
	color: #404041;
	font-weight: 500;
}


.socialmedia img {
	height: 1.5em;
}

.socialmedia li:first-of-type {
	margin-right: -.5em;
}




.section-right nav {
	font-weight: 300;
	font-size: .9em;
	top: 0;
	right: 0;
	left: 0;
	position: fixed;
	display: block;
	width: 100%;
	background: #3f3f3f;
	z-index: 9999999;
	margin-right: -5em;
}

.section-right nav ul {
	float: right;
	margin-right: 1em;
}

.section-right nav li {
	display: inline-block;
}

.section-right nav li a:hover {
	border-bottom: 1px solid white;
	color: #fff;
}

.section-right a {
	color: #fff;
	font-weight: 300;
	z-index: 100;
	margin: 0 .5em;
}

.section-right a:active {
	border-bottom: 1px solid white;
	color: #fff;
}

.section-right .socialmedia a img {
	height: 1.5em;
	display: inline-block;
	float: left;
}


.section-right {
	height: 100vh;
	width: 80%;
	float: right;
	z-index: 99999;
}







/* ------------------------------------------------------------------------------------ 
									HOME PAGE 
------------------------------------------------------------------------------------ */

.camera_container #camera_wrap_1{
	height: 100%;
	overflow: hidden;
	float: right;
	display: inline-block;
	margin: 3em 1.75em 0 0;
	z-index: -1;

}

.home .section-right {
	overflow: hidden;
}



/* ------------------------------------------------------------------------------------ 
									BIO - CONTACT 
------------------------------------------------------------------------------------ */

.contact_container {
	display: inline-block;
	margin: 2.5em 1em 0 0;
	z-index: -1;
}

.contactinfo {
	width: 95%;
	float: right;
	margin: 1em 5% 0 0;
	text-align: left;
	font-weight: 300;
	display: block;
}

.contactinfo h3 {
	width: 20%;
	float: left;
	display: inline-block;
	border-right: 2px solid #fff;
	margin: 2% 0 1% -1%;
	padding-right: 1%;
	font-size: 3em;
	font-weight: 300;
	text-align: right;
}

.contactinfo h4 {
	margin: 0;
	font-size: 1em;
	font-weight: 300;
}

.contactinfo em {
	font-size: 1em;
	font-weight: 300;
}

.details {
	width: 30%;
	display: block;
	float: left;
	padding-left: 1em;
	margin: 2.5% 5% 0 0;
}


.biocontact_container {
	margin-left: 0;
}


.biocontact_container img{
	width: 100%;
	display: block;

}

.contactinfo h5 {
	margin-top: 5%;
}

.biocontact_container .contactinfo {
	margin-top: 5%;
}

.bio {
	width: 78%;
	float: right;
	margin-left: 1%;
}





/* ------------------------------------------------------------------------------------ 
									PROOFS 
------------------------------------------------------------------------------------ */

.proofsform {
	width: 100%;
	float: left;
}

.proofs_container img {
	width: 100%;
	float: left;
	display: block;
}

.proofs_container h3 {
	text-transform: uppercase;
	font-size: .8em;
}

.proofs_container form {
	width: 25%;
	display: block;
	margin: 5% auto 0 30%;
}

.proofs_container form input{
	width: 100%;
	display: left;
	height: 1.5em;
	margin: 2% 0 1% 0;
	background: #dbdbdb;

}

.proofsform form a {
	text-align: right;
}

.proofsform #submit {
	color: white;
	width: 40%;
	float: right;
	height: 2em;
	background: none;
	border: 1px solid white;
	margin: 1em -.5em 0 0;
	padding: 0;
}

.proofsform #submit:hover {
	color: black;
	background: #fff;
}

.forgotpassword {
	position: absolute;
	bottom: 0;
	right: 0;
	text-decoration: none;
	padding-right: 2%;
}

















/* ------------------------------------------------------------------------------------ 
									PORTFOLIO 
------------------------------------------------------------------------------------ */

.portfolio .section-right {
	height: 100%;

}

.portfolio_container {
	height: 90%;
	float: right;
	display: inline-block;
	margin: 2.5em 1em 0 0;
	z-index: -1;
}


.portfolio_container img {
	padding: .25em;

}

.portfolio_container a:hover {
	-webkit-filter: brightness(.7);
}

.portfolio-left {
  width: 60%;
  display: inline-block;
  float: left;
  margin-left: -1em;
}

.portfolio-left ul li {
	display: inline-block;
}

.portfolio-left li:first-of-type {
  width: 100%
}

.portfolio-left li img {
	width: 98%;
}

.portfolio-left li {
  width: 49.25%;
}


.portfolio-right {
  width: 40%;
  display: inline-block;
  float: left;
  margin-right: -.5em;
}

.portfolio-right img {
  width: 100%;
  padding-left: 0;
  margin-left: 0;
}

.projects {
	position: relative;
}

.img-title {
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.img-title h4 {
	font-weight: 500;
	font-size: 1.5em;
	text-shadow: 1px 1px 1px #000;
	font-family: 'Papyrus';
}



.portfolio-right li:nth-child(7) {
	width: 100%;
}


.portfolio-right li {
	width: 100%;
}

.portfolio-right li:nth-child(5) {
	width: 100%;
}





footer {
	background: #3f3f3f;
	height: 2em;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}


/* ------------------------------------------------------------------------------------ 
									MEDIA QUERIES 
------------------------------------------------------------------------------------ */

@media screen and (max-width: 768px) { 

	.section-left {
	width: 100%;
	position: static;
	}

	.section-right {
		width: 100%;
	}

	.title {
		width: 100%;
		display: block;
		margin: -5% auto -4% auto;
		text-align: center;
	}

	.title h5 {
		display: none;
	}

	.section-right nav {
		width: 100%;
		position: static;
	}

	.section-right nav ul {
		width: 65%;
		display: block;
		margin: 5% auto 0 auto;

	}

	.section-right nav ul.socialmedia {
		width: 20%;
		display: block;
		margin: 5% auto 0 auto;
		float: right;
		text-align: right;

	}



	.logo {
		width: 20%;
	}

	.booksession {
		position: fixed;
		bottom: 0;
		margin: 0;
		padding: 1em;
	}

	.camera_container #camera_wrap_1{
		height: 100%;
		overflow: hidden;
		float: right;
		display: block;
		margin: 2% 0 0 0;
		z-index: -1;

	}

	footer {
		display: none;
	}


	.portfolio-left {
		margin: 0;
	}

	body.portfolio .section-right {
		margin-bottom: 10%;
	}

	.biocontact_container img {
		width: 100%;
		margin-top:5%;
	}

	.contactinfo {
		width: 80%;
		padding: 0 10%;
		margin: 0 0 5% 0;
		text-align: center;
	}

	.contact_container form {
		width: 80%;
		padding: 0 10%;
		margin: 0 0 10% 0;
	}
	.biocontact_container p {
		width: 95%;
	}

	.biocontact_container p:last-of-type {
		margin-bottom: 15%;
	}


}

@media screen and (max-width: 480px) { 

	.section-right nav {
		width: 100%;
		position: static;
	}

	.section-right nav ul {
		width: 70%;
		display: inline-block;
		margin: 5% 0 0 0;

	}

	.section-right nav ul.socialmedia {
		display: none;

	}


	.portfolio_container {
		margin: -5% 0 0 0;
		padding: 0;
	}
	.portfolio-left {
		width: 100%;
	}

	.portfolio-right {
		width: 100%;
		margin-top: -8%;
	}

	.biocontact_container img {
		width: 100%;
		margin-top:5%;
	}

	.contactinfo {
		width: 85%;
		text-align: center;
		margin: 0 auto;
	}

	.contactinfo h3 {
		text-align: center;
		margin: 5% 0 2% 3%;
		padding: 0;
	}

	.contactinfo .details {
		text-align: left;
		margin-left: 10%;
	}

	.biocontact_container p {
		width: 95%;
		margin: 5% 5% 10% 5%;
	}

	.biocontact_container p:last-of-type {
		margin-bottom: 25%;
	}

	.details {
		width: 90%;
		margin: 0 5% 5% 5%;
	}

	.contact_container form {
		margin: 0 0 20% 0;
	}


}











/*CLEARFIX*/
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}