html {
	background: #3f3f3f;
}

body {
	height: 100vh;
	color: white;
	width: 100%;
	font-family: "Lato",sans-serif;
	display: block;
	margin: 0 auto;
}

/* ---- left ---- */
.section-left {
	width: 20%;
	height: 100%;
	display: inline-block;
	float: left;
	margin: 3.5em -2.5em 2em 0;
	position: fixed;


}

.booksession {
	width: 100%;
	display: block;
	margin: 0 auto 5em auto;
	position: absolute;
	bottom: 3em;
	z-index: 99;
	text-align: center;
}

.section-left a {
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	border: 1px solid white;
	padding: .75em 2em;
	font-size: .75em;
	text-align: center;
}

.section-left a:hover {
	background: white;
	color: black;

}

.logo {
	width: 60%;
	opacity: .9;
	display: inline-block;
	margin: 0 auto 1em auto;
	z-index: 999;

}

.title {
	width: 100%;
	text-align: center;
	display: block;
}


.title h3 {
	font-weight: 400;
	margin: 0;
	font-size: 1em;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.title h4 {
	font-weight: 300;
	margin: 0 0 2em 0;
	font-size: 1em;
	text-transform: uppercase;
}

.title h5 {
	text-transform: uppercase;
	font-weight: 300;
	margin: 0;
}

/* ---- right ---- */

.section-right nav {
	font-weight: 300;
	font-size: .9em;
	position: fixed;
	width: 80%;
	margin-right: .5em;
	background: #3f3f3f;
	z-index: 9999999;
}

.section-right nav ul {
	float: right;
	margin-right: 1em;
}

.section-right nav li {
	display: inline-block;
}

.section-right a {
	color: #fff;
	font-weight: 300;
	z-index: 100;
	margin: 0 .5em;
}

.section-right a:hover {
	color: #4F191F;
}

.section-right .socialmedia a img {
	height: 1.5em;
	display: inline-block;
	float: left;
}


.section-right {
	height: 100vh;
	width: 80%;
	overflow: hidden;
	float: right;
}

.camera_container #camera_wrap_1{
	height: 100%;
	overflow: hidden;
	float: right;
	display: inline-block;
	margin: 3em 1.75em 0 0;
	z-index: -1;

}


/* ---- NAVIGATION ---- */

ul {
	list-style: none;
	padding-left: 0;
}

li a {
	font-weight: 300;
	font-size: .75em;
	text-decoration: none;
	text-transform: uppercase;
	color: #f1f1f2;
}

li a:hover {
	color: #404041;
	font-weight: 500;
}


.socialmedia img {
	height: 1.5em;
}

.socialmedia li:first-of-type {
	margin-right: -.5em;
}












/* ---- PORTFOLIO ---- */

.portfolio .section-right {
	height: 100%;

}

.portfolio_container {
	height: 90%;
	overflow: hidden;
	float: right;
	display: inline-block;
	margin: 2.5em 1em 0 0;
	z-index: -1;
}


.portfolio_container img {
	padding: .25em;
}

.portfolio_container a:hover {
	-webkit-filter: brightness(.7);
}

.portfolio-left {
  width: 59%;
  display: inline-block;
  float: left;
}

.portfolio-left ul li {
	display: inline-block;
}

.portfolio-left li:first-of-type {
  width: 100%
}

.portfolio-left li img {
	width: 98%;
}

.portfolio-left li {
  width: 49.25%;
}


.portfolio-right {
  width: 40%;
  display: inline-block;
  float: left;
  margin-right: -.5em;
}

.portfolio-right img {
  width: 100%;
  padding-left: 0;
  margin-left: 0;
}

/* ---- about ---- */

.about_container {
	overflow: hidden;
	display: inline-block;
	margin: 2.5em 1em 0 0;
	z-index: -1;
}

.about_container img {
	width: 100%;
}


.about_container em {
	width: 36%;
	float: left;
	margin: 5% 0 5% 0;
	text-align: right;
	font-size: 1.5em;
	font-weight: 300;
}

.about_container p {
	width: 59%;
	margin: 5% 2% 5% 0;
	float: right;
	font-weight: 300;
}


/* ---- contact ---- */

.contact_container {
	overflow: hidden;
	display: inline-block;
	margin: 2.5em 1em 0 0;
	z-index: -1;
}

.contact_container iframe {
	z-index: -9999;
	width: 49%;
	float: left;
	margin-bottom: 2em;
	
}

.contactinfo {
	width: 49%;
	float: right;
	margin-top: 1em;
	text-align: left;
	font-weight: 300;
}

.contactinfo h3 {
	margin: 0;
	font-size: 1em;
}

.contactinfo h3:nth-child(3) {
	margin-top: 1em;
}

.contactinfo h3:nth-child(5) {
	margin-top: 1em;
}

.contact_container form {
	width: 49%;
	float: right;
	margin-top: 3em;
}

.contact_container form input{
	width: 100%;
	display: left;
	height: 3em;
	margin: 1% 0 1% 0;
}

.contact_container form textarea{
	width: 100%;
	height: 15em;
	display: inline-block;
	float: left;
	margin-top: .5%;
}

.contact_container input:last-of-type {
	width: 25%;
	float: right;
	height: 3em;
}


footer {
	background: #3f3f3f;
	height: 2em;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

/* ---- NAVIGATION ---- */
/* ---- NAVIGATION ---- */